body {
    font-family: Arial, sans-serif;
    background-color: #f6f9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    padding: 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    color: #555;
    font-weight: bold;
}

input {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    color: #555;
}

.delete-button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#filtrar{
   margin-top: 10px;
}
